.app-container {
  margin: 50px auto 0px;
  padding: 30px 0px;
  width: 600px;
  height: auto;
  border-style: none;
  border-radius: 5px;
  background-color: whitesmoke;
  text-align: center;
  font-size: x-large;
}

.btn-primary {
  margin-top: 20px;
  padding: 10px 20px;
  border-style: none;
  border-radius: 3px;
  background-color: dodgerblue;
  color: white;
  font-size: large;
}

.btn-primary:hover {
  box-shadow: 0px 0px 10px dodgerblue;
}

.btn-primary:active {
  background-color: royalblue;
  box-shadow: 0px 0px 10px royalblue;
}

.btn-like {
  margin-right: 5px;
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
  background-color: mediumseagreen;
  color: white;
  font-size: 100%;
}

.btn-like:hover {
  box-shadow: 0px 0px 10px mediumseagreen;
}

.btn-dislike {
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
  background-color: tomato;
  color: white;
  font-size: 100%;
}

.btn-dislike:hover {
  box-shadow: 0px 0px 10px tomato;
}

.text-small {
  font-size: medium;
}

.text-large {
  font-size: 500%;
}

.float-left {
  margin-left: 50px;
  float: left;
}

.float-right {
  margin-right: 50px;
  float: right;
}

.margin-top-zero {
  margin-top: 0px;
}

.margin-bottom-zero {
  margin-bottom: 0px;
}

.inline-block {
  display: inline-block;
  height: 40px;
}

.like {
  padding: 0px 5px;
  border-style: none;
  border-radius: 3px;
  background-color: mediumseagreen;
  color: white;
}

.dislike {
  padding: 0px 5px;
  border-style: none;
  border-radius: 3px;
  background-color: tomato;
  color: white;
}

#username {
  margin-top: 20px;
  width: 400px;
  height: 40px;
  border-style: none;
  border-radius: 3px;
  font-size: 100%;
}

#username:focus {
  box-shadow: 0px 0px 10px dodgerblue;
}
